body {
    font-family: sans-serif; 
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

button {
    background-color: #3882F6;
}

.header {
    background-color: #1F2937;
    
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: space-between;
    padding-right: 15%;
    padding-left: 15%;
}

.header h3 {
    color: #F9FAF8;
    font-size: 24px;
}

.header ul {
    color: #E5E7EB;
    font-size: 18px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: .75em;
}

.content-hero {
    background-color: #1F2937;
    display: flex;
    flex: auto;
    justify-content: center;
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.hero-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-text {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-image-placeholder {
    background-color: #686868;
    color: #E5E7EB;
}

.content-random-info {
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    padding-right: 15%;
    padding-left: 15%;
}

.random-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.random-cards {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.card {
    max-width: 13%;
}

.content-testimonial {
    background-color: #E5E7EB;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    padding-right: 15%;
    padding-left: 15%;
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    margin-right: 6rem;
}

.testimonial-text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.testimonial-attribution {
    color: #1F2937;
    font-weight: bold;
    align-self: flex-end;
}

.content-call-to-action {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    padding-right: 15%;
    padding-left: 15%;
}

.cta-container {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cta-left {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}